<mat-toolbar class="toolbar">
  <div class="head">
    <img src="assets/logo.png" alt="Logo" class="logo" />
    <span class="title">Bookstore</span>
  </div>
</mat-toolbar>

<div class="container">
  <h2>Forgot Your Password?</h2>

  <mat-card class="form-card">
    <div class="content">
      <p>
        Enter your email address and we'll send you a link to reset your
        password.
      </p>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="field">
          <div class="full">
            <h4>Email Id</h4>
            <input matInput formControlName="email" type="email" />
          </div>
        </div>

        <button
          mat-raised-button
          color="primary"
          class="reset-btn"
          type="submit"
        >
          Reset Password
        </button>
      </form>
    </div>
  </mat-card>
  <mat-card class="card">
    <div class="create">
      <button mat-button (click)="goTo()">CREATE ACCOUNT</button>
    </div>
  </mat-card>
</div>
