.toolbar {
  background-color: #a03037;
  color: white;
  display: flex;
  justify-content: start;
  padding: 0 1rem;
  height: 60px;
}

.head {
  display: flex;
  align-items: start;
  margin-left: 8rem;

  .logo {
    height: 30px;
    margin-right: 10px;
  }

  .title {
    font-size: 24px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.form-card {
  width: 424px;
  padding: 20px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 0;
}

.form-card p {
  font-size: 15px;
}

.card {
  width: 424px;
  height: 100px;
  border-radius: 0;
  background-color: #e4e4e4;
}

.full {
  width: 100%;
  margin-bottom: 1rem;
}

.full input {
  width: 93%;
  padding: 8px;
}

.full h4 {
  margin-bottom: 4px;
  padding: 0;
}

.content {
  width: 75%;
  margin: auto;
  padding: 0;
}

.reset-btn {
  width: 100%;
  background-color: #a93232;
  color: white;
  padding: 9px;
}

.create {
  text-align: center;

  button {
    background: none;
    border: none;
    padding: 0;
    margin-top: 2rem;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
}
