<div class="success-container">
  <img src="assets/cel1.png" />
  <h2>Order Placed Successfully</h2>
  <img src="assets/cel2.png" />
  <p>Hurray!!! Your order is confirmed</p>
  <p>
    The order id is #{{ orderId }}. Save the order id for further communication.
  </p>

  <div class="contact-info">
    <div>Email us: admin&#64;bookstore.com</div>
    <div>Contact us: +91 8163475881</div>
    <div>
      Address: 42, 14th Main, 15th Cross, Sector 4, Opp to BDA complex, near
      Kumarakom restaurant, HSR Layout, Bangalore 560034
    </div>
  </div>

  <button mat-raised-button color="primary" routerLink="/home">
    CONTINUE SHOPPING
  </button>
</div>
